<!DOCTYPE html>
<html lang="en">
<head>
   

   
        
  
    

<body>
   
   
   
    <h1>Tell me if you have any query</h1>
   <div class="contract">
    <p>Phone:+889999999</p>
    <p>Email:Vintage Shop.com</p>
   </div>
    <form action="../controller/contractcheek.php" method="post">
        <tr>
             <td>Email:</td>
            <td><input type="email" name="email" id=""></td>
        </tr>
        <br>
        <tr>
            <td>Comment:</td>
            <td><textarea name="comment" id="" cols="30" rows="10"></textarea></td>
        </tr>
        <br>
        <button type="submit" name="submit">submit</button>
    </form>
</body>
</html>