<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="../styles/welcome.css">
</head>
<body>
    <form action="../controller/welcomecheek.php" method="post">
        <table align="center">
            <tr>
                <h1 align="center">Welcome Page</h1>
                <hr>
            </tr>
            <tr>
                <td><input type="submit" value="Sign Up" name="signup"></td>
                <td><input type="submit" value="Sign In" name="signin"></td>
            </tr>
        </table>
    </form>
</body>
</html>